html {
    background-color: transparent;
  }
  
  body {
    background-color: #272727;
    background-image: url(https://camo.githubusercontent.com/36a3253e47dad84b51c325ef5c2b532916a016e1/68747470733a2f2f636c6475702e636f6d2f5445793979476834356c2e737667);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }  

  .local_video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  .local_canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .remote_video {
    width: 22%;
    height: 22%;
    text-align: center;
    margin: 0.5em;
    border-radius: 5px;
  }

  .remote_container {
    width: 100%;
    height: 100%
    position: fixed;
    bottom: 0;
  }
