html {
    background-color: transparent;
  }
  
  body {
    background-color: #777777;
    background-image: url(http://i.imgur.com/wkmGwzF.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }  

  .local_video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  .local_canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .remote_video {
    width: 18%;
    min-width: 200px;
    height: 18%;
    min-height: 200px;
    text-align: center;
    margin: 0.5em;
    border-radius: 5px;
  }

  .remote_container {
    width: 100%;
    height: 100%
    position: fixed;
    bottom: 0;
  }
